@page "/todo"
@rendermode InteractiveServer

<h3>Trancendental To-Do Widget</h3>

<hr />

<p>Add something to the list:</p>

<span>Task:  </span><input @bind="task" /> 
<button @onclick="createTask">Save Task</button>


<div class="pb-1 pt-5">
    <h3>Tasks Done: ( @todos.Count(td => td.IsDone) )</h3>
</div>
<div class="pb-1 pt-1">
    <h3>Tasks Remaining: ( @todos.Count(td => !td.IsDone) )</h3>
</div>

<h4 class="mt-4">To Do:</h4>
<div class="todo-container container d-flex flex-column mt-4 mw-25 mx-0">

    @foreach (var todo in todos)
    {
        <div class="todo-item card d-flex flex-row mw-25"> 
            <input class="p-4 m-4" type="checkbox" @bind="todo.IsDone" value=@todo.IsDone />
            <p class="card-title mt-auto mb-auto">@todo.Title</p> 
        </div>

    }

</div>


@code {
    string task = "";
    private List<ToDoItem> todos = new();

    // public void setDone()
    // {
    //     find associated todo and mark it as IsDone = true;

    // }

    public void createTask()
    {
        if(task.Length > 0)
        {
            var newTodo = new ToDoItem
                {
                    Title = task
                };
            todos.Add(newTodo);
            task = "";
        }
    }


}
